In [1]:
# Code Cell 1

# This lab produces some minor warnings that can be ignored.
# These warnings appear because some libraries are updated more often than others
# and the system is letting the user know that some function will be depricated soon
# Use the following code to prevent the warnings from being displayed, or comment them out
# to see the warnings
import warnings
warnings.filterwarnings('ignore')

import numpy as np
import pandas as pd
# from sklearn import cross_validation
from sklearn.linear_model import LinearRegression

In [2]:
# Code Cell 2

# Import the file stores-dist.txt
salesDist = pd.read_csv('./data/stores-dist.txt')

# Change the column headings
salesDist.columns = ['district','sales','stores']

# Verify the imported data
# ...

# SOLUTION
salesDist.head()

   district  sales  stores
0         1  231.0      12
1         2  156.0      13
2         3   10.0      16
3         4  519.0       2
4         5  437.0       6

In [3]:
# Code Cell 3
# Drop the district column.
sales = salesDist.drop('district', axis=1)

# Verify that the district column has been dropped.
# ...

# SOLUTION
sales.head()

   sales  stores
0  231.0      12
1  156.0      13
2   10.0      16
3  519.0       2
4  437.0       6

In [4]:
# Code Cell 4
# Dependent variable for y axis
y = sales.sales 
# Independent variable for x axis
# x = ...

# SOLUTION
x = sales['stores']

In [5]:
# Code Cell 5
# Compute the y values from the polynomial model for each x value
order = 1
p = np.poly1d(np.polyfit(x, y, order))

print('The array p(x) stores the calculated y value from the polynomial model for each x value,\n\n{}.'.format(p(x)))
print('\nThe vector of coefficients p describes this regression model:\n{}'.format(p))
print('\nThe zeroth order term (y-intercept or b) is stored in p[0]: {}.'.format(p[0]))
print('\nThe first order term (slope or m) is stored in p[1]: {}.'.format(p[1]))

The array p(x) stores the calculated y value from the polynomial model for each x value,

[169.93468442 134.14759895  26.78634257 527.80553905 384.65719719
 420.44428266 205.72176988 134.14759895  26.78634257 277.29594081
 527.80553905 313.08302627 456.23136812  62.57342803 169.93468442
 205.72176988 420.44428266  98.36051349 313.08302627 527.80553905
 563.59262451  62.57342803 134.14759895 348.87011173 384.65719719
 563.59262451 277.29594081].

The vector of coefficients p describes this regression model:

-35.79 x + 599.4

The zeroth order term (y-intercept or b) is stored in p[0]: 599.3797099726614.

The first order term (slope or m) is stored in p[1]: -35.787085462974005.

In [6]:
# Code Cell 6
from sklearn.metrics import r2_score
r2 = r2_score(y, p(x))
r2

0.83217523508888

In [7]:
# Code Cell 7
from sklearn.metrics import mean_squared_error
mse = mean_squared_error(y, p(x))
mse

5961.386465941158

In [8]:
# Code Cell 8
from sklearn.metrics import mean_absolute_error
mae = mean_absolute_error(y, p(x))
mae

61.2232611786873